<div class="card">
  <div class="card-body">
    <form>
      <!-- Início input: Funcionário -->
      <div class="form-group">
        <label class="col-md-4">Nome do Funcionário</label>
        <input type="text" class="form-control" width="50%" />
      </div>

      <!-- Início input: Profissão -->
      <div class="form-group">
        <label class="col-md-4">Profissão</label>
        <input type="text" class="form-control" />
      </div>

      <!-- Início input: Número Indetificador -->
      <div class="form-group">
        <label class="col-md-4">Número Identificador</label>
        <input type="text" class="form-control" />
      </div>

      <!-- Botão Submit: Adicionar Funcionário -->
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Adicionar Funcionário</button>
      </div>
    </form>
  </div>
</div>
