<div class="card">
  <div class="card-body">
    <form [formGroup]="funcionarioForm" novalidate>

      <!-- Início input: Nome do Funcionário -->
      <div class="form-group">
        <label class="col-md-4">Nome do Funcionário</label>
        <input type="text" class="form-control" formControlName="nome" #nome />
      </div>

      <!-- Tratamento de Validação do campo: Nome do Funcionário -->
      <div *ngIf="funcionarioForm.controls['nome'].invalid &&
                  (funcionarioForm.controls['nome'].dirty ||
                  funcionarioForm.controls['nome'].touched)"
            class="alert alert-danger">
          <div *ngIf="funcionarioForm.controls['nome'].errors.required">
            Campo 'Nome do Funcionário' é obrigatório.
          </div>
        </div>

      <!-- Início input: Profissão -->
      <div class="form-group">
        <label class="col-md-4">Profissão</label>
        <input type="text" class="form-control" formControlName="profissao"  #profissao/>
      </div>

      <!-- Tratamento de Validação do campo: Profissão -->
      <div *ngIf="funcionarioForm.controls['profissao'].invalid &&
                  (funcionarioForm.controls['profissao'].dirty ||
                  funcionarioForm.controls['profissao'].touched)"
            class="alert alert-danger">
          <div *ngIf="funcionarioForm.controls['profissao'].errors.required">
            Campo 'Profissão' é obrigatório.
          </div>
        </div>

      <!-- Início input: Número Indetificador -->
      <div class="form-group">
        <label class="col-md-4">Número Identificador</label>
        <input type="text" class="form-control" formControlName="numeroIdentificador"/>
      </div>

      <!-- Tratamento de Validação do campo: Número Identificador -->
      <div *ngIf="funcionarioForm.controls['numeroIdentificador'].invalid &&
                  (funcionarioForm.controls['numeroIdentificador'].dirty ||
                  funcionarioForm.controls['numeroIdentificador'].touched)"
            class="alert alert-danger">
          <div *ngIf="funcionarioForm.controls['numeroIdentificador'].errors.required">
            Campo 'Número Identificador' é obrigatório.
          </div>
        </div>

      <!-- Botão Submit: Adicionar Funcionário -->
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Adicionar Funcionário</button>
      </div>
    </form>
  </div>
</div>
