<!doctype html>
<html lang="pt-br" ng-app="todoList">
<head>
  <!-- META -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

  <title>Todo List - Explorando T.I</title>

  <!-- Bloco de estilos: Boostrap via CDN & css local -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="./css/style.css">

  <!-- Bloco de scripts -->
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>

  <script src="js/controllers/main.js"></script>
  <script src="js/services/todos.js"></script>
  <script src="js/core.js"></script>

</head>

<body ng-controller="mainController">
  <div class="container">

    <div class="jumbotron">
      <h2 class="text-center"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> Aplicação
        Todo-List - Explorando T.I</h2>
      <h3 class="text-center">Glaucia Lemos - Software Developer</h3>
      <h4 class="text-center">Microsoft MVP Developer Technologies</h4>
      <h5 class="text-center">Rio de Janeiro, Brasil - 2019</h5>
      <hr class="m-y-md">
      <p>Não deixe de acompanhar mais Tutoriais como esse!</p>
      <p class="lead">
        <a class="btn btn-danger btn-lg" href="https://www.youtube.com/user/l32759" role="button">Inscreva-se no Canal</a>
      </p>
    </div>

    <!-- INÍCIO DO CONTADOR DE 'TODOS' -->
    <h1 class="text-center">Lista de Tarefas <span class="label label-info">{{ todos.length }}</span></h1>

    <div id="todo-list" class="row">
      <div class="col-sm-5 col-sm-offset-5">
        <div class="checkbox" ng-repeat="todo in todos">
          <label class="text-xs-center">
            <input type="checkbox" ng-click="deleteTodo(todo._id)"> {{ todo.texto }}
          </label>
        </div>
        <p class="text-center" ng-show="loading">
          <span class="fa fa-spinner fa-spin fa-3x"></span>
        </p>
      </div>
    </div>
    <div id="todo-form" class="row">
      <div class="col-sm-8 col-sm-offset-2 text-center">
        <form>
          <div class="form-group">
            <input type="text" class="form-control input-lg text-center" placeholder="O que você vai fazer hoje?"
              ng-model="formData.text">
          </div>
          <button type="submit" class="btn btn-success btn-lg" ng-click="createTodo()">Adicionar</button>
        </form>
      </div>
    </div>
    <div class="text-center text-muted">
      <p class="text-center">Desenvolvido com muito <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
        Rio de Janeiro<a href="http://www.code4coders.wordpress.com"> - 2019</a></p>
    </div>
  </div>
</body>

</html>
